.example-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
    width: 85px;
  }
  
.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    background: rgb(22, 92, 125);
}

.example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    margin-left: 85px;
    display: flex;
    justify-content: space-between;
    width: auto;
    background-color: #fff;
}

.example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #fff;
}

.logo-img {
    height: 60px;
    width: 60px;
}

.menu-logo {
    margin-block: 10px;
}

.menu-icon {
    height: 25px;
    width: 25px;
}

::ng-deep {
    .mat-list-base .mat-list-item .mat-list-item-content {
        justify-content: center;
        height: 60px !important;
    }
}

.session-title {
    font-size: 24px;    
    color: #101213;
}

.header-icon {
    color: #125D79;
    font-size: 32px;
}

.page-content {
    position: fixed;
    top: 100px;
    left: 85px;
    right: 0;
    height: calc(100% - 200px);
    background-color: #EDEDED;
}

.user {
    border: 2px solid #125D79;
    color: #125D79;
    font-weight: 700;
}